body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f1fff1; 
}

.container {
    max-width: 850px;
    margin: auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #b6e8b6; 
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2e7031; 
    margin-top: 0;
    text-align: center;
}

a.button, button {
    display: inline-block;
    padding: 8px 14px;
    background: #89d789; 
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

a.button:hover, button:hover {
    background: #6bc26b; 
}

a.button-danger {
    background: #e67c7c;
}

a.button-danger:hover {
    background: #cc6666;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 18px;
    background: #ffffff;
}

th {
    background: #cff5cf; 
    padding: 10px;
    border: 1px solid #b6e8b6;
    color: #2e7031;
}

td {
    padding: 10px;
    border: 1px solid #b6e8b6;
}

tr:nth-child(even) {
    background: #f7fff7; 
}

form input, form select, form file {
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #aee4ae;
    border-radius: 6px;
}

form input:focus, form select:focus {
    outline: none;
    border-color: #6bc26b;
}

img {
    max-width: 100px;
    border-radius: 6px;
    border: 1px solid #aee4ae;
}
